.driver-popover-footer {
  gap: 5px;
}

.driver-popover-progress-text {
  flex-shrink: 0;
}

.driver-popover-navigation-btns {
  flex-wrap: wrap;
  gap: 5px;
}

.driver-popover-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
}

.driver-popover-buttons-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
  margin-block-end: 15px;
}
